---
title: "Data Science Tools: Part 2: Python"
author: "Randi Bolt"
date: "2023-01-16"
categories: [SQL]
toc: true
draft: true
---

This post covers XX data related questions, and solutions using  Python - R - SQL. 

![](../../00_img/ds_powerpuff.png)

# `0.` Introduction 

## `0.1` Load Packages

In [ ]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

# `1.` Create Data

## `1.1` Python

In [ ]:
py_data = {'Letter': ['A', 'B', 'C'],
            'Number': [1,2,3],
            'Color': ['Blue','Red','Yellow']}
            
py_df = pd.DataFrame(py_data)
py_df

## `1.2` R



# `2.` Load Data

## `2.1` Python

In [ ]:
address = '../../00_data/patients.csv'
py_patients = pd.read_csv(address)
py_patients.head()

## `2.2` R


# `3.` Show first name, last name, and gender of patients who's gender is 'M'.



`SElECT` 
  column_1,
  column_2,
  column_4
`FROM` data
`WHERE` column_4 = 'value';


# `4.` Show first and last name of patients who do not have allergies (null). 

`SElECT` 
  column_1,
  column_2
`FROM` data
`WHERE` column_2 `IS` NULL

# `5.` Show first name of patients that starts with the letter "C". 

`SElECT` 
  column_1
`FROM` data
`WHERE` column_1 `LIKE` 'A%'

# `6.` Show first and last name of patients that weight within the range of 100 to 120 (inclusive).

`SElECT` 
  column_1
`FROM` data
`WHERE` column_3 `BETWEEN` 100 `AND` 120

# `7.` Replace NULL value with NKA in allegries column. 

UPDATE patients
	SET allergies = 'NKA'
	WHERE allergies IS NULL;
	
# `8.` Show first and last as concatinated into one full_name column. 

select 
	CONCAT(first_name, ' ', last_name) AS full_name
FROM patients

# `9.` Show first name, last name, and the full province name of each patient. 


# `10.` Show how many patients have a birth_date with 1993 as the birth year. 


# `11.` Show all columns for patients who have one of the following patient_ids: 1, 45, 879, 1000. 



# `12.` Show unique first names from the patients table which only occurs once in the list. 


# `13.` Show patient_id, first_name, last_name from patients whos diagnosis is 'Dementia'. 


# `14.` Show the total amount of male patients and the toatl amount of female patients in the patients table. Display the results in the same row. 


# `15.` Show all allergies ordered by popularity. Remove 'NKA' or NULL values from query. 


# `16.` Show all of the days of the month (1-31) and how many admission_dates occurred on that day. Sort by the day with most admissions to least admissions. 


# `17.` For every admission, display the patient's full name, their admission diagnosis, and their doctor's full name who diagnosed their problem. 

# `18.` From the patients table, show patient_id, weight, height, and isObese. Display isObese as a boolean 0 or 1. Obese is defined as weight(kg)/height(m)$^2$)>= 30. Weight is in units kg, and height in in units cm. 

# `19.` For each day display the total amount of admissions on that day. Display the amount changed from the previous date. 


# `20.` Each admission costs $50 for patients without insurance, and $10 for patients with insurance. All patients with an even patient_id have insurance. Give each patient a 'Yes' if they have insurance, and a 'No' if they don't have insurance. Add up the admission_total cost for each has_insurance group.